@font-face{
    font-family: "Product Sans";
    src: url('Recursos/Product\ Sans\ Regular.ttf')
}

@keyframes fadeIn { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

@keyframes fadeOut { 
    0% { 
        opacity: 1; 
    } 
    100% { 
        opacity: 0; 
     } 
} 

body { 
    animation: fadeIn ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
	margin: 0;
	padding : 0;
}

#topnav {
    position: fixed;
    top: 0;
    width: 100vw;
  }
  
#topnav a.link {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Product Sans';
    font-size: 1vw;
    color: #f7f7f7;
  }
  
#topnav a.link:hover {
    color: #cccccc;
  }
  
#topnav img {
     position: absolute;
     padding-top: 1vw;
     top: 50%;
     transform: translate(5%, -50%);
  }
  
#topnav a.active {
    color: #f7f7f7;
    font-weight: 700;
  }

td {
  padding: 0.5vw 1vw;
  color: #C0E7E2;
  text-align: center;
}

video {
  border: #f0f0f0;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
}