@font-face{
    font-family: "Product Sans";
    src: url('Resources/Product Sans Regular.ttf')
}

@font-face{
  font-family: "Product Sans Bold";
  src: url('Resources/Product Sans Bold.ttf')
}

@keyframes fadeIn { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

@keyframes fadeOut { 
    0% { 
        opacity: 1; 
    } 
    100% { 
        opacity: 0; 
     } 
} 

body { 
  animation: fadeIn ease 2s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
	margin: 0;
	padding : 0;
}

#topnav {
    position: absolute;
    top: 0;
    width: 100vw;
  }
  
#topnav a.link {
    float: right;
    text-align: center;
    padding: 0.729166vw 0.8333333vw;
    text-decoration: none;
    font-family: 'Product Sans';
    font-size: 1vw;
    color: #C0E7E2;
  }
  
#topnav a.link:hover {
    color: rgb(226, 226, 226);
  }
  
#topnav img {
     position: absolute;
     padding-top: 1vw;
     top: 50%;
     transform: translate(5%, -50%);
  }
  
#topnav a.active {
    color: #C0E7E2;
    font-family: Product Sans Bold;
  }

p.pltitle {
  font-family: Product Sans Bold;
  font-size: 2vw;
  margin: 0;
}

p.plsub {
  font-family: Product Sans;
  font-size: 1.5vw;
  margin: 0;
}

p.pldate {
  font-family: Product Sans;
  font-size: 1.3vw;
  margin: 0;
}

td {
  padding: 0.5vw 2vw;
  color: #C0E7E2;
  text-align: center;
}

td img {
  border: #C0E7E2;
  border-width: 0.2604166vw;
  border-style: solid;
  border-radius: 0.2604166vw;
  width: 16.666666vw;
  height: 12.5vw;
}

td iframe {
  width: 27.76vw;
  height: 15.62vw;
}